<h1>Admin Dashboard</h1>
<%# <p>Find me in app/views/admin/dashboard/show.html.erb</p> %>


<div class="panel panel-default products" style="background-color: #f5f5f5; padding: 1rem;">
    <h4>Amount of Products: <%= @productsAmount.length %></h4>
    <h4>Amount of Categories: <%= @categoriesAmount.length %>
</div>
