<h1>About Us</h1>
<div class="panel panel-default products" style="padding: 1em; background-color: #f5f5f5; border: 1px solid #e3e3e3; ">
<h4>Our stores sells fun and whacky items! We try and stock our store with things you wouldn't see in your day to day life. We originated in 2002 and have been bringing excellent service to our customers since. Thanks for shopping with us!</h4>
</div>